body{background-color: gainsboro;}

nav{background-color: aliceblue;
width: 100vw;
height: 5vw;;
background-color: rgb(147, 149, 206);
 font-size: larger;
width: 99vw;}

body{
    
}

 img{
float: right; }
 